<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.kk.snifferinstaller"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SnifferAppTheme" 
        android:name="SnifferApplication">
        <activity
            android:name="org.kk.snifferinstaller.DefaultActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<data android:host="DefaultActivity" android:scheme="org.kk.snifferinstaller" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
       	<receiver android:name="SnifferReceiver">
	    	<intent-filter android:priority="90000">
	        	<action android:name="android.intent.action.USER_PRESENT" />
	    	</intent-filter>
		</receiver>
    </application>
	
</manifest>
