# 客户端服务配置
[BASE]
# 端口(管理者服务端口为此端口+1,例如9874为管理者服务端口)
PORT=9873
# 最大连接数
MAXCLIENT=1000
# 处理线程数目, 一般为cpu内核数目
MAXHANDLETHREAD=4
# 单核每秒处理请求数目
MAXQUERYPERCOPY=200
# 单个请求超时时间(秒)
TIMEOUT=5
# 统计信息输出时间间隔(秒)
STATETIME=60

# 日志配置
[LOG]
# 日志级别(0-5, 0:关闭, 5:全开)
LOGLEVEL=5
# 日志路径
LOGDIR=./log_sniffer_server
# 调试模式(0:关闭, 1:开启)
DEBUGMODE=1